nav.navbar.navbar-default {
	position: relative;
}

.alert {
	cursor: pointer;
	position: fixed;
	top: 5rem;
	/* center the object on the screen */
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	/*    overflow: hidden; */
	/*    height: 500px;  */
}

.showAlert {
	animation-delay: 0s;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: ease-in;
	animation-name: disappear;
}


@keyframes disappear {
	0%, 100% {
		visibility: hidden;
		opacity: 0.0;
	}
	20%, 80% {
		visibility: visible;
		opacity: 1.0;
	}
}

ul.pagination li a {
	color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
	background-color: #DCE47E;
	color: #FFF;
	font-weight: bold;
	cursor: default;
}
ul.pagination .disabled:hover a {
	background: none;
}

.paginator {
	text-align: center;
}

.paginator ul.pagination li {
	float: none;
	display: inline-block;
}

.paginator p {
	text-align: right;
}