#search-prompt {
	margin-bottom: 1rem;
}

.switch {
	font-size: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	cursor: pointer;
}

.pressed {
	border-style: inset;
	border-width: 0px 0px 2px 0;
	border-color: goldenrod;
/*	transition: border-width 0.3s; */
}

div.search-result {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	padding: 1rem;
}

hr {
	box-shadow: 0px 2px 5px grey;
}
/*
div {
	border-style: solid;
	border-width: 1px;
}
*/
img {
	margin-left: auto;
	margin-right: auto;
	max-height: 300px;
}

.requestButton {
	margin-top: 1rem;
	text-align: center;
}

.seriesName {
	font-size: 4rem;
	font-weight: bold;
}

.seriesStats {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

.firstAired, .network, .status {
	font-size: 2rem;
	text-align: center;
}